.wrapper-bots {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  height: 100%;

  .bots-tenant-filter {
    width: 260px;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
