.wrapper-documents {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  height: 100%;

  .documents-filter {
    display: flex;
    align-items: flex-end;
    gap: $spacing-md;

    .filter-item {
      min-width: 280px;
    }
  }
}
